a {
  text-decoration: none;
    color: #FFF;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;
    align-self: center;
}

a:hover{
      color: rgb(255,0,255);
      padding-left: 5px;
    }

/* SIDEBAR */
    .sidebar{
      width: 250px;
      border-right: 2px solid rgb(255,0,255);
      background-color: #111;
      padding: 20px;
      position:static;
    }

    .sidebar h2{
      margin-bottom: 20px;
      color: white;
    }

    .sidebar ul{
      list-style: none;
    }

    .sidebar ul a{
      text-decoration: none;
      color: #FFF;
      margin-bottom: 15px;
      cursor: pointer;
      transition: 0.3s;
    }

    .sidebar ul a:hover{
      color: rgb(255,0,255);
      padding-left: 5px;
    }

    #a_login {
      color: rgb(255,0,255);
    }

    /* MAIN */
    .main-content{
      flex: 1;
      padding: 30px;
    }

    .main-content h1{
      margin-bottom: 20px;
      font-size: 36px;
    }

    .main-content p{
      color: #ccc;
      line-height: 1.6;
    }
